doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        meta(name="google-site-verification", content="SbEvKoM8pDWJz_TCsw_GMcB9KTs9OAchZ4XfwOQ-X08")
        script(src="/js/jquery.min.js")
        script(src="/js/gallery.js")

    body
        each image in images
            a(href="/images/dist/" + image.pathDatePrefix + image.filename, data-user=image.instagram)
                img(src="/images/dist/" + image.pathDatePrefix + image.filename, width="200")