doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        meta(name="google-site-verification", content="SbEvKoM8pDWJz_TCsw_GMcB9KTs9OAchZ4XfwOQ-X08")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/socket.io-stream.js")
        script(src="/js/client.js")
    body
        #limit
            | Текущий лимит:&nbsp;
            span.value

        #moderation
            input(type="checkbox")
        h1
            =title
            a.toGallery(href="/gallery", target="_blank") В галерею
        .subscriptions
            if subscriptions
                each sub in subscriptions
                    p
                        | #{sub.tag}&nbsp;
                        if sub.additional
                            | #{sub.additional}&nbsp;
                        a.init(href="#", data-subscription=sub.tag) init
                        | &nbsp;
                        a.border(href="/images/border/" + sub.tag + ".jpg", target="_blank") border
                        | &nbsp;
                        a.delete(href="#", data-subscription=sub.sid, data-confirm="Are u sure?s") delete
        ul.menu
            li
                a.add(href="#") Add new tag subscription
                #add-form.hidden
                    form
                        input(name="tag")
                        input(name="additionalTag")
                        input(type="file", id="upload_file")
                        input(type="submit", value="Add")
            li
                a.clear(href="#") Clear database

        .toModerateList
        .toPrintList
        .overlay.loading
