body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.hidden
  display none

.toPrintList
  p
    color: red
    &:after
      content " TO PRINT"
      display inline
    &.printed
      color: green
      &:after
        content " PRINTED"
.toModerateList
  p
    a
      margin-left 5px

.toGallery
  margin-left 25px
  font-size: 14px
  line-height: 20px

.overlay
  display none
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,.5) 50% 50% no-repeat
  &.loading
    background-image url(../images/lo.gif)
    display block


#limit
  position absolute
  top 20px
  right 20px
