body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.hidden {
  display: none;
}
.toPrintList p {
  color: #f00;
}
.toPrintList p:after {
  content: " TO PRINT";
  display: inline;
}
.toPrintList p.printed {
  color: #008000;
}
.toPrintList p.printed:after {
  content: " PRINTED";
}
.toModerateList p a {
  margin-left: 5px;
}
.toGallery {
  margin-left: 25px;
  font-size: 14px;
  line-height: 20px;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5) 50% 50% no-repeat;
}
.overlay.loading {
  background-image: url("../images/lo.gif");
  display: block;
}
#limit {
  position: absolute;
  top: 20px;
  right: 20px;
}
